firebase_admin==7.1.0
mediapipe==0.10.21
numpy==2.3.3
opencv_python==4.11.0.86
pydantic==2.11.9
pydantic_settings==2.10.1
pymavlink==2.4.42
pymavlink==2.4.36
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQt5_sip==12.13.0
pytest==7.4.4
pytest.egg==info
Requests==2.32.5
torch==2.6.0+cu118
ultralytics==8.3.78
